body {
    margin: 0px;
    padding: 0px;
    width: 450px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.default-margin {
    margin: 24px 16px;
}

/************************************************
    GlobalNavbar Component
************************************************/

.global-navbar {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #444;
}

.global-navbar.loading {
    color: #999;
}

.global-navbar .tab {
    display: inline-block;
    margin: 0px;
    padding: 16px 16px;
    cursor: pointer;
}

.global-navbar.loading .tab {
    cursor: default;
}

.global-navbar .tab.active {
    border-bottom: 3px solid dodgerblue;
}

.global-navbar.loading .tab.active {
    border-bottom: 3px solid #ccc;
}

.global-navbar .tab.nonactive:hover {
    border-bottom: 3px solid #ccc;   
}

.global-navbar.loading .tab.nonactive:hover {
    border-bottom: none;
}

/************************************************
    Content Component
************************************************/

.content {
    padding: 24px 16px;
    line-height: 1.5;
    max-height: 430px;
    color: #444;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    overflow: auto;
}

/************************************************
    UserHtmlContent Component
************************************************/

.user-html-content {
    line-height: 1.5;
    color: #444;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;   
}

/************************************************
    ControlBar Component
************************************************/

.control-bar {
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #ccc;
}

/************************************************
    TextInput Component
************************************************/

.text-input label {
    font-family: Roboto-Medium, sans-serif;
}

.text-input input[type=text] {
    width: 96%;
    padding: 10px 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #444;
    margin: 8px 0px;
}

.text-input input[type=text]:focus {
    box-shadow: 0px 0px 1px 1px dodgerblue;   
}

/************************************************
    SelectInput Component
************************************************/

.select-input label {
    font-family: Roboto-Medium, sans-serif;
}

.select-input select {
    background: white;
    width: 100%;
    padding: 10px 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #444;
    margin: 8px 0px;
}

.select-input select:focus {
    box-shadow: 0px 0px 1px 1px dodgerblue;   
}

/************************************************
    Button Component
************************************************/

.button {
    display: inline-block;
    margin: 8px 16px;
    padding: 8px;
    border-radius: 3px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.button.primary {
    background: dodgerblue;
    color: white;
}

.button.secondary {
    border: 1px solid #aaa;
    color: #444;
}

/************************************************
    Loader Component
************************************************/

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  display: inline-block;
  border: 2px solid #ddd;
  border-radius: 50%;
  border-top: 2px solid #444;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
  margin: 16px;
}

/************************************************
    ListItem Component
************************************************/

@keyframes blink {
    to {
        background: white;
    } 
}

.list-item {
    font-family: Roboto-Regular, sans-serif;
    font-size: 13px;
    color: #444;
    cursor: pointer;
    border-bottom: 1px solid #ccc;   
}

.list-item.blink {
    animation: blink 0.7s 0s 2 ease-out alternate-reverse;
    animation-fill-mode: forwards;
}

.list-item:last-child {
    border: none;
}

.list-item .text {
    display: inline-block;
    margin: 16px;
}

.list-item .label {
    display: inline-block;
    float: right;
}

/************************************************
    AppInfoBar Component
************************************************/

.app-info-bar {
    border-top: 1px solid #ccc;
    color: #444;
    font-family: Roboto-Regular, sans-serif;
}

.app-info-bar .label {
    padding: 14px;
    display: inline-block;
    font-family: Roboto-Medium, sans-serif;
    font-size: 16px;
}

.app-info-bar .version {
    padding: 14px;
    display: inline-block;
    font-size: 12px;
}

.app-info-bar .home {
    padding: 14px;
    float: right;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

/************************************************
    MarkerNavbar Component
************************************************/

.marker-navbar {
    color: #444;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.marker-navbar.loading {
    color: #999;
}

.marker-navbar .global-back {
    padding: 16px;
    display: inline-block;
    cursor: pointer;
}

.marker-navbar.loading .global-back {
    cursor: default;
}

.marker-navbar .title {
    padding: 16px;
    display: inline-block;
}

/************************************************
    Toggler Component
************************************************/

.toggler {
    display: inline-block;
    position: relative;
    background: #ccc;
    border-radius: 34px;
    transition: 0.2s;
    cursor: pointer;
}

.toggler:before {
    content: "";
    position: absolute;
    background: white;
    border-radius: 50%;
    transition: 0.2s;
}

.toggler.large {
    height: 24px;
    width: 44px;
    margin: 14px;
}

.toggler.large:before {
    left: 2px;
    top: 2px;
    height: 20px;
    width: 20px;
}

.toggler.large.on:before {
    left: 22px;
}

.toggler.small {
    height: 16px;
    width: 28px;
    margin: 14px;
}

.toggler.small:before {
    left: 2px;
    top: 2px;
    height: 12px;
    width: 12px;
}

.toggler.small.on:before {
    left: 14px;
}