.vink-face-1 { /* red */

	color: #FFFFFF;
	background: #F44336;
}

.vink-face-2 { /* teal */

	color: #FFFFFF;
	background: #009688;
}

.vink-face-3 { /* indigo */

	color: #FFFFFF;
	background: #3F51B5;
}

.vink-face-4 { /* pink */

	color: #FFFFFF;
	background: #E91E63;
}

.vink-face-5 { /* green */

	color: #FFFFFF;
	background: #4CAF50;
}

.vink-face-6 { /* orange */

	color: #000000;
	background: #FF9800;
}

.vink-face-7 { /* blue */

	color: #FFFFFF;
	background: #2196F3;
}

.vink-face-8 { /* purple */

	color: #FFFFFF;
	background: #9C27B0;
}

.vink-face-9 { /* lime */

	color: #000000;
	background: #CDDC39;
}
