<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="w3-theme-grey.css">
    <link rel="stylesheet" href="faces.css">
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="menu-view.js"></script>
    <style type="text/css" media="screen">

        .loader {
            border: 12px solid #ececec; /* ww3-theme-l4 */
            border-top: 12px solid #7e7e7e; /* w3-theme-d3 */
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 2s linear infinite;
            margin: auto;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>

</head>
<body class="w3-theme-d5">

<div id="menu" style="width:425px;">

    <!-- navigation bar -->

    <ul class="w3-navbar w3-theme-d6 w3-border-bottom">

        <!-- marker button -->

        <li><a  class="w3-padding-12 w3-hover-theme-d4 w3-border-right"
				v-on:click="navigation.switchStatus({ markers: true })"
                href="#"><b>Markers</b></a></li>

        <!-- add button -->

        <li><a  class="w3-padding-12 w3-hover-theme-d4 w3-border-right"
				v-on:click="navigation.switchStatus({ add: true })"
                href="#"><b>Add</b></a></li>

		<!-- website button -->

		<li><a  class="w3-padding-12 w3-hover-theme-d4 w3-border-right"
				href="#"><b>Website</b></a></li>
    </ul>


    <!-- markers tab -->

    <div v-if="navigation.status.markers">

        <!-- marker user interface -->

        <div v-for="iface of markerIfaces"
            v-bind:class="{ 'w3-border-bottom': !iface.panel }"
            class="">

            <!-- header -->

            <div class="w3-row w3-hover-theme-d4"
                v-on:click="iface.togglePanel()">

				<!-- active display -->

				<div class="w3-right w3-col w3-padding-12" style="width:7px"
					v-bind:class="iface.status.result ? iface.marker.styleClass : ''">
					&nbsp;
				</div>

				<!-- marker title -->

				<div class="w3-rest w3-padding-12 w3-container">
					{{ iface.marker.name }}
				</div>

            </div>

            <!-- panel -->

            <div v-if="iface.panel"
                class="w3-container w3-padding-12 w3-light-grey">

                <!-- ready view -->

                <div v-if="iface.status.ready">

                    <!-- description -->

                    <p>{{ iface.marker.description }}</p>

                    <!-- inputs -->

                    <p v-for="input in iface.marker.inputs" class="w3-tooltip">

                        <!-- text input -->

                        <label>{{ input.label || input.id }}</label>
                        <input v-if="input.type=='text'"
                            v-on:keyup.enter="iface.applyMarker()"
                            class="w3-input w3-border"
                            type="text"
                            v-model="iface.userInputs[input.id]">

                        <!-- select input -->

                        <select v-if="input.type=='select'"
                            class="w3-input w3-border"
                            v-model="iface.userInputs[input.id]">
                            <option v-for="val of input.values">
                                {{ val }}
                            </option>
                        </select>

                        <!-- tooltip -->

                        <span class="w3-text w3-tag w3-animate-opacity"
                            style="position:absolute;right:0px;top:54px;width:280px">
                            {{ input.tip }}
                        </span>
                    <p>

                    <!-- apply button -->

                    <button v-on:click="iface.applyMarker()"
                        v-bind:class="iface.marker.styleClass"
                        class="w3-btn">
                        Apply</button>

                    <!-- more button -->

                    <a v-on:click="iface.switchStatus({ more: true })"
                        class="w3-right" href='#'>More</a>

                </div>

                <!-- progress view -->

                <div v-if="iface.status.progress">

                    <!-- loader -->

                    <div class="loader"></div>

                    <!-- abort button -->

                    <a v-on:click="iface.abortRequest()"
                        class="w3-right" href='#'>Abort</a>

                </div>

                <!-- result view -->

                <div v-if="iface.status.result">

                    <!-- message -->

                    <p>{{ iface.resultMessage }}</p>

                    <!-- clear button -->

                    <button v-on:click="iface.resetMarker()"
                        v-bind:class="iface.marker.styleClass"
                        class="w3-btn">
                        Clear
                    </button>

                </div>

                <!-- error view -->

                <div v-if="iface.status.error">

                    <!-- message -->

                    <p>{{ iface.errorMessage }}</p>

                    <!-- back button -->

                    <button v-on:click="iface.switchStatus({ ready: true })"
                        v-bind:class="iface.marker.styleClass"
                        class="w3-btn">
                        Back
                    </button>

                </div>

                <!-- more view -->

                <div v-if="iface.status.more">

                    <!-- marker infos -->

                    <p>
                    <b>URL:</b><br>
                    {{ iface.marker.url }}
                    </p>

                    <!-- back button -->

                    <button v-on:click="iface.switchStatus({ ready: true })"
                        v-bind:class="iface.marker.styleClass"
                        class="w3-btn">
                        Back
                    </button>

                    <!-- remove button -->

                    <button v-on:click="iface.removeMarker()"
                        v-bind:class="iface.marker.styleClass"
                        class="w3-btn">
                        Remove
                    </button>

                </div>

            </div>

        </div>

    </div>

    <!-- add tab -->

    <div v-if="navigation.status.add"
		class="w3-container w3-padding-12 w3-light-grey">

        <!-- input view -->

        <div v-if="registration.status.input">

            <!-- info text -->

            <p>Add a marker by entering the marker's URL.</p>

            <!-- url input -->

            <p>
                <label>URL</label>
                <input v-model="registration.inputUrl"
                v-on:keyup.enter="registration.registerMarker()"
                class="w3-input w3-border"
                type="text">
            </p>

            <!-- add button -->

            <button v-on:click="registration.registerMarker()"
                class="w3-btn w3-theme-d3">
                Add</button>
        </div>

        <!-- progress view -->

        <div v-if="registration.status.progress">

            <!-- loader -->

            <div class="loader"></div>

            <!-- abort button -->

            <a v-on:click="registration.abortRequest()"
                class="w3-right" href='#'>Abort</a>

        </div>

        <!-- success view -->

        <div v-if="registration.status.success">

            <!-- info text -->

            <p>{{ registration.successMessage }}</p>

            <!-- back button -->

            <button v-on:click="registration.switchStatus({ input: true })"
                class="w3-btn w3-theme-d3">
                Back</button>
        </div>


        <!-- error view -->

        <div v-if="registration.status.error">

            <!-- info text -->

            <p>{{ registration.errorMessage }}</p>

            <!-- back button -->

            <button v-on:click="registration.switchStatus({ input: true })"
                class="w3-btn w3-theme-d3">
                Back</button>
        </div>

    </div>

</div>

</body>
</html>
