<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="w3-theme-grey.css">
    <link rel="stylesheet" href="faces.css">
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="menuviews.js"></script>
    <style type="text/css" media="screen">

        .loader {
            border: 12px solid #ececec; /* ww3-theme-l4 */
            border-top: 12px solid #7e7e7e; /* w3-theme-d3 */
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 2s linear infinite;
            margin: auto;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>

</head>
<body class="w3-theme-d5 w3-small">

<div id="menu" style="width:425px;">

    <!-- navigation bar -->

    <ul class="w3-navbar w3-theme-d6 w3-border-bottom">

        <!-- marker button -->

        <li><a  class="w3-padding-12 w3-hover-theme-d4 w3-border-right"
				v-on:click="tabNavigationModel.switchState('markers')"
                href="#"><b>Markers</b></a></li>

        <!-- add button -->

        <li><a  class="w3-padding-12 w3-hover-theme-d4 w3-border-right"
				v-on:click="tabNavigationModel.switchState('add')"
                href="#"><b>Add</b></a></li>

		<!-- website button -->

		<li><a  class="w3-padding-12 w3-hover-theme-d4 w3-border-right"
				href="#"><b>Website</b></a></li>
    </ul>


    <!-- markers tab -->

    <div v-if="tabNavigationModel.states.markers">

        <!-- marker user interface -->

        <div v-for="model of markerModels"
            v-bind:class="{ 'w3-border-bottom': !model.panel }">

            <!-- header -->

            <div class="w3-row w3-hover-theme-d4"
                v-on:click="model.togglePanel()">

				<!-- active display -->

				<div class="w3-right w3-col w3-padding-12" style="width:7px"
					v-bind:class="model.states.result ? model.marker.styleClass : ''">
					&nbsp;
				</div>

				<!-- marker title -->

				<div class="w3-rest w3-padding-12 w3-container">
					{{ model.marker.name }}
				</div>

            </div>

            <!-- panel -->

            <div v-if="model.panel"
                class="w3-container w3-padding-12 w3-light-grey">

                <!-- ready view -->

                <div v-if="model.states.ready">

                    <!-- description -->

                    <p>{{ model.marker.description }}</p>

                    <!-- inputs -->

                    <p v-for="input in model.marker.inputs" class="w3-tooltip">

                        <!-- text input -->

                        <label>{{ input.label || input.id }}</label>
                        <input v-if="input.type=='text'"
                            v-on:keyup.enter="model.applyMarker()"
                            class="w3-input w3-border"
                            type="text"
                            v-model="model.userInputs[input.id]">

                        <!-- select input -->

                        <select v-if="input.type=='select'"
                            class="w3-input w3-border"
                            v-model="model.userInputs[input.id]">
                            <option v-for="val of input.values">
                                {{ val }}
                            </option>
                        </select>

                        <!-- tooltip -->

                        <span class="w3-text w3-tag w3-animate-opacity"
                            style="position:absolute;right:0px;top:54px;width:280px">
                            {{ input.tip }}
                        </span>
                    <p>

                    <!-- apply button -->

                    <button v-on:click="model.applyMarker()"
                        v-bind:class="model.marker.styleClass"
                        class="w3-btn">
                        Apply</button>

                    <!-- more button -->

                    <a v-on:click="model.switchState('more')"
                        class="w3-right" href='#'>More</a>

                </div>

                <!-- progress view -->

                <div v-if="model.states.progress">

                    <!-- loader -->

                    <div class="loader"></div>

                    <!-- abort button -->

                    <a v-on:click="model.abortRequest()"
                        class="w3-right" href='#'>Abort</a>

                </div>

                <!-- result view -->

                <div v-if="model.states.result">

                    <!-- message -->

                    <p>{{ model.resultMessage }}</p>

                    <!-- clear button -->

                    <button v-on:click="model.resetMarker()"
                        v-bind:class="model.marker.styleClass"
                        class="w3-btn">
                        Clear
                    </button>

                </div>

                <!-- error view -->

                <div v-if="model.states.error">

                    <!-- message -->

                    <p>{{ model.errorMessage }}</p>

                    <!-- back button -->

                    <button v-on:click="model.switchState('ready')"
                        v-bind:class="model.marker.styleClass"
                        class="w3-btn">
                        Back
                    </button>

                </div>

                <!-- more view -->

                <div v-if="model.states.more">

                    <!-- marker infos -->

                    <p>
                    <b>URL:</b><br>
                    {{ model.marker.url }}
                    </p>

                    <!-- back button -->

                    <button v-on:click="model.switchState('ready')"
                        v-bind:class="model.marker.styleClass"
                        class="w3-btn">
                        Back
                    </button>

                    <!-- remove button -->

                    <button v-on:click="model.removeMarker()"
                        v-bind:class="model.marker.styleClass"
                        class="w3-btn">
                        Remove
                    </button>

                </div>

            </div>

        </div>

    </div>

    <!-- add tab -->

    <div v-if="tabNavigationModel.states.add"
		class="w3-container w3-padding-12 w3-light-grey">

        <!-- input view -->

        <div v-if="registrationModel.states.input">

            <!-- info text -->

            <p>Add a marker by entering the marker's URL.</p>

            <!-- url input -->

            <p>
                <label>URL</label>
                <input v-model="registrationModel.inputUrl"
                v-on:keyup.enter="registrationModel.registerMarker()"
                class="w3-input w3-border"
                type="text">
            </p>

            <!-- add button -->

            <button v-on:click="registrationModel.registerMarker()"
                class="w3-btn w3-theme-d3">
                Add</button>
        </div>

        <!-- progress view -->

        <div v-if="registrationModel.states.progress">

            <!-- loader -->

            <div class="loader"></div>

            <!-- abort button -->

            <a v-on:click="registrationModel.abortRequest()"
                class="w3-right" href='#'>Abort</a>

        </div>

        <!-- success view -->

        <div v-if="registrationModel.states.success">

            <!-- info text -->

            <p>{{ registrationModel.successMessage }}</p>

            <!-- back button -->

            <button v-on:click="registrationModel.switchState('input')"
                class="w3-btn w3-theme-d3">
                Back</button>
        </div>


        <!-- error view -->

        <div v-if="registrationModel.states.error">

            <!-- info text -->

            <p>{{ registrationModel.errorMessage }}</p>

            <!-- back button -->

            <button v-on:click="registrationModel.switchState('input')"
                class="w3-btn w3-theme-d3">
                Back</button>
        </div>

    </div>

</div>

</body>
</html>
