<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="menu.css">
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="options.js"></script>
</head>
<body>
    <div class="list" id="list">
        <div class="item">
            <div class="header" v-on:click="registerListItem.togglePanel()" v-bind:active="registerListItem.views.panel">
				Add a new marker
			</div>
            <div class="panel" v-if="registerListItem.views.panel">

                <!-- ########## REGISTER VIEW ########## -->                
                <div class="register" v-if="registerListItem.views.register">
                    <div class="form">
                        <input type="text" placeholder="http://mymarkers.com/mark/" 
                            v-model="registerListItem.inputUrl">
                    </div>
                    <div class="control">
					    <input type="button" value="Register" v-on:click="registerListItem.registerMarker()">
				    </div>
                </div> 

                <!-- ########## SUCCESS VIEW ########## -->                
                <div class="success" v-if="registerListItem.views.success">
                    <div class="info">
                        {{ registerListItem.successMessage }}
                    </div>
                    <div class="control">
					    <input type="button" value="Back" v-on:click="registerListItem.backToRegister()">
				    </div>
                </div>

                <!-- ########## ERROR VIEW ########## -->                
                <div class="error"" v-if="registerListItem.views.error">
                    <div class="info">
                        {{ registerListItem.errorMessage }}
                    </div>
                    <div class="control">
					    <input type="button" value="Back" v-on:click="registerListItem.backToRegister()">
				    </div>
                </div>               
            </div>
        </div>

		<div class="item" v-for="item in markerListItems">
			<div class="header" v-on:click="item.togglePanel()" v-bind:active="item.views.panel">
				<span>{{ item.marker.name }}</span>
			</div>
			<div class="panel" v-if="item.views.panel">
				<div class="info">
					<b>URL:</b><br> {{ item.marker.url }} <br>
                    <b>Description:</b><br> {{ item.marker.description }}
				</div>
				<div class="control">
					<input type="button" value="Remove" v-on:click="item.removeMarker()">
				</div>
			</div>
		</div>
	</div>
</body>
</html>
