<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="w3-theme-grey.css">
    <link rel="stylesheet" href="faces.css">
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="uidisplay.js"></script>
    <style type="text/css" media="screen">
    
        .loader {
            border: 12px solid #ececec; /* ww3-theme-l4 */
            border-top: 12px solid #7e7e7e; /* w3-theme-d3 */
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 2s linear infinite;
            margin: auto;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>
    
</head>
<body>

<div id="menu" style="width:400px;">

    <!-- navigation bar -->

    <ul class="w3-navbar w3-border-bottom"> 

        <!-- marker button -->
      
        <li><a  id="markers-tab-link"
                v-bind:class="{ 'w3-theme-d3' : navigation.views.markers }"
                class="w3-hover-theme-l3"
                href="#"
                v-on:click="navigation.switchView({ markers: true })">Markers</a></li>

        <!-- add button -->

        <li><a  id="options-tab-link"
                class="w3-hover-theme-l3"
                v-bind:class="{ 'w3-theme-d3' : navigation.views.add }"
                href="#"
                v-on:click="navigation.switchView({ add: true })">Add</a></li>
    </ul>


    <!-- markers tab -->

    <div v-if="navigation.views.markers">
        
        <!-- marker user interface -->

        <div v-for="iface of markerIfaces">
            
            <!-- header -->

            <div class="w3-row w3-accordion w3-border-bottom" 
                v-on:click="iface.togglePanel()">

                <!-- header tail -->

                <div v-bind:class="iface.views.result ? iface.marker.styleClass : ''"
                    class="w3-col w3-right w3-padding w3-center"    
                    style="width:40px">+
                </div>

                <!-- header main part -->

                <div class="w3-rest w3-padding">
                    {{ iface.marker.name }}
                </div>

            </div>

            <!-- panel -->

            <div v-if="iface.panel" 
                class="w3-container w3-padding-12 w3-small w3-border-bottom">

                <!-- ready view -->
                
                <div v-if="iface.views.ready">

                    <!-- description -->

                    <p>{{ iface.marker.description }}</p>

                    <!-- inputs -->

                    <p v-for="query in iface.marker.queries" class="w3-tooltip">

                        <!-- text input -->                

                        <label>{{ query.label }}</label>
                        <input v-if="query.type=='text'"
                            class="w3-input w3-border"
                            type="text"
                            v-model="iface.userInputs[query.id]">

                        <!-- select input -->

                        <select v-if="query.type=='select'"
                            class="w3-input w3-border"
                            v-model="iface.userInputs[query.id]">
                            <option v-for="val of query.values">
                                {{ val }}
                            </option>
                        </select>

                        <!-- tooltip -->
        
                        <span class="w3-text w3-tag w3-animate-opacity"
                            style="position:absolute;right:0px;top:54px;width:280px">
                            {{ query.tooltip }}
                        </span>
                    <p>

                    <!-- apply button -->

                    <button v-on:click="iface.applyMarker()"
                        v-bind:class="iface.marker.styleClass"
                        class="w3-btn">
                        Apply</button>

                    <!-- more button -->
                
                    <a v-on:click="iface.switchView({ more: true })"
                        class="w3-right" href='#'>More</a>

                </div>

                <!-- progress view -->
            
                <div v-if="iface.views.progress">
        
                    <!-- loader -->

                    <div class="loader"></div>

                    <!-- abort button -->

                    <a v-on:click="iface.abortRequest()"
                        class="w3-right" href='#'>Abort</a>

                </div>

                <!-- result view -->
            
                <div v-if="iface.views.result">
                    
                    <!-- message -->

                    <p>{{ iface.resultMessage }}</p>

                    <!-- clear button -->

                    <button v-on:click="iface.resetMarker()"
                        v-bind:class="iface.marker.styleClass" 
                        class="w3-btn">
                        Clear
                    </button>

                </div>

                <!-- error view -->
            
                <div v-if="iface.views.error">
                    
                    <!-- message -->

                    <p>{{ iface.errorMessage }}</p>

                    <!-- back button -->

                    <button v-on:click="iface.switchView({ ready: true })"
                        v-bind:class="iface.marker.styleClass" 
                        class="w3-btn">
                        Back
                    </button>

                </div>

                <!-- more view -->
            
                <div v-if="iface.views.more">
                    
                    <!-- marker infos -->
                    
                    <p>
                    <b>URL:</b><br>
                    {{ iface.marker.url }}
                    </p>

                    <!-- back button -->

                    <button v-on:click="iface.switchView({ ready: true })" 
                        v-bind:class="iface.marker.styleClass"
                        class="w3-btn">
                        Back
                    </button>

                    <!-- remove button -->

                    <button v-on:click="iface.removeMarker()" 
                        v-bind:class="iface.marker.styleClass"
                        class="w3-btn">
                        Remove
                    </button>

                </div>

            </div>

        </div>

    </div>

    <!-- options tab -->

    <div v-if="navigation.views.add" class="w3-container w3-padding-12 w3-small">
        
        <!-- input view -->
        
        <div v-if="registration.views.input">
            
            <!-- info text -->

            <p>Add a marker by entering the marker's URL.</p>

            <!-- url input -->
            
            <p>
                <label>URL</label>
                <input v-model="registration.inputUrl"
                class="w3-input w3-border"
                type="text">
            </p>

            <!-- add button -->

            <button v-on:click="registration.registerMarker()"
                class="w3-btn w3-theme-d3">
                Add</button>
        </div>

        <!-- progress view -->

        <div v-if="registration.views.progress">

            <!-- loader -->

            <div class="loader"></div>

            <!-- abort button -->

            <a v-on:click="registration.abortRequest()"
                class="w3-right" href='#'>Abort</a>

        </div>

        <!-- success view -->

        <div v-if="registration.views.success">
            
            <!-- info text -->

            <p>{{ registration.successMessage }}</p>

            <!-- back button -->

            <button v-on:click="registration.switchView({ input: true })"
                class="w3-btn w3-theme-d3">
                Back</button>
        </div>


        <!-- error view -->

        <div v-if="registration.views.error">
            
            <!-- info text -->

            <p>{{ registration.errorMessage }}</p>

            <!-- back button -->

            <button v-on:click="registration.switchView({ input: true })"
                class="w3-btn w3-theme-d3">
                Back</button>
        </div>

    </div>

</div>

</body>
</html>

























