/* cross highlighting */
[class*="emphasize-face-"] [class*="emphasize-face-"] {
	box-shadow: 3px 3px 5px grey;
}

.tippy-tooltip {
		background: transparent !important;
	}

.emphasize-gloss-container {
	background: white;
	color: #444;
	border: 1px solid #aaa;
	border-radius: 4px;
	margin: 10px;
	box-shadow:  1px 1px 20px grey;
	min-width: 250px;
}


.emphasize-gloss-header {
	/*background: #eee;*/
	padding: 10px;
	font-family: 'Roboto-Regular';
	font-size: small;
	border-bottom: 1px solid #ccc;
}

.emphasize-gloss-icon {
	display: inline-block;
	padding: 1px 6px;
	float: left;
	color: white;
	background: linear-gradient(to right, #3399ff 16%, #33ccff 100%);
	font-weight: bold;
	opacity: 0.6;
	border-radius: 3px;
}

.emphasize-gloss-title {
	display: inline-block;
	padding: 0px 6px;
}

.emphasize-gloss-close {
	display: inline-block;
	float: right;
	padding: 0px 6px;
	cursor: pointer;
}

.emphasize-gloss-content {
	margin: 24px;
	text-align: left;
	font-size: small;
	font-family: sans-serif;
}