@font-face {
	font-family: 'Roboto-Regular';
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.woff'); 
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Medium.woff'); 
}