@font-face {
	font-family: 'Roboto-Regular';
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/roboto/Roboto-Regular.woff'); 
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/roboto/Roboto-Medium.woff'); 
}

@font-face {
	font-family: 'Roboto-Slab-Regular';
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/roboto/Roboto-Slab-Regular.woff'); 
}

@font-face {
	font-family: 'Roboto-Slab-Bold';
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/roboto/Roboto-Slab-Bold.woff'); 
}

