
@font-face {
    font-family: Roboto-Regular;
    src: url('chrome-extension://__MSG_@@extension_id__/lib/fonts/roboto/Roboto-Regular.woff');
}

/**
 * face 1 to 9: deep colors
 */

.emphasize-face-1 { /* red */
	color: #FFFFFF;
	background: #F44336;
}

.emphasize-face-2 { /* teal */
	color: #FFFFFF;
	background: #009688;
}

.emphasize-face-3 { /* indigo */
	color: #FFFFFF;
	background: #3F51B5;
}

.emphasize-face-4 { /* pink */
	color: #FFFFFF;
	background: #E91E63;
}

.emphasize-face-5 { /* green */
	color: #FFFFFF;
	background: #4CAF50;
}

.emphasize-face-6 { /* orange */
	color: #000000;
	background: #FF9800;
}

.emphasize-face-7 { /* blue */
	color: #FFFFFF;
	background: #2196F3;
}

.emphasize-face-8 { /* purple */
	color: #FFFFFF;
	background: #9C27B0;
}

.emphasize-face-9 { /* lime */
	color: #000000;
	background: #CDDC39;
}

/**
 * face 10 to 18: light colors
 */
.emphasize-face-10 {
	border-radius: 2px;
	background: #aad356;
}

.emphasize-face-11 {
	border-radius: 2px;
	background: #f9c908;
}

.emphasize-face-12 {
	border-radius: 2px;
	background: #b7e1f3;
}

.emphasize-face-13 {
	border-radius: 2px;
	background: #f79487;
}

.emphasize-face-14 {
	border-radius: 2px;
	background: #bdd6d1;
}

.emphasize-face-15 {
	border-radius: 2px;
	background: #c7c4e9;
}

.emphasize-face-16 {
	border-radius: 2px;
	background: #f0d3a8;
}

.emphasize-face-17 {
	border-radius: 2px;
	background: #f6a7d1;
}

.emphasize-face-18 {
	border-radius: 2px;
	background: #72dab2;
}

/* cross highlighting */
[class*="emphasize-face-"] [class*="emphasize-face-"] {
	box-shadow: 3px 3px 5px grey;
}

.tippy-tooltip {
		background: transparent !important;
	}

.emphasize-gloss-container {
	background: white;
	color: #444;
	border: 1px solid #aaa;
	border-radius: 4px;
	margin: 10px;
	box-shadow:  1px 1px 20px grey;
	min-width: 250px;
}


.emphasize-gloss-header {
	/*background: #eee;*/
	padding: 10px;
	font-family: Roboto-Regular;
	font-size: small;
	border-bottom: 1px solid #ccc;
}

.emphasize-gloss-icon {
	display: inline-block;
	padding: 1px 6px;
	float: left;
	color: white;
	background: linear-gradient(to right, #3399ff 16%, #33ccff 100%);
	font-weight: bold;
	opacity: 0.6;
	border-radius: 3px;
}

.emphasize-gloss-title {
	display: inline-block;
	padding: 0px 6px;
}

.emphasize-gloss-close {
	display: inline-block;
	float: right;
	padding: 0px 6px;
	cursor: pointer;
}

.emphasize-gloss-content {
	margin: 24px;
	text-align: left;
	font-size: small;
	font-family: sans-serif;
}