.emphasize-face-1 { /* red */
	color: #FFFFFF;
	background: #F44336;
}

.emphasize-face-2 { /* teal */
	color: #FFFFFF;
	background: #009688;
}

.emphasize-face-3 { /* indigo */
	color: #FFFFFF;
	background: #3F51B5;
}

.emphasize-face-4 { /* pink */
	color: #FFFFFF;
	background: #E91E63;
}

.emphasize-face-5 { /* green */
	color: #FFFFFF;
	background: #4CAF50;
}

.emphasize-face-6 { /* orange */
	color: #000000;
	background: #FF9800;
}

.emphasize-face-7 { /* blue */
	color: #FFFFFF;
	background: #2196F3;
}

.emphasize-face-8 { /* purple */
	color: #FFFFFF;
	background: #9C27B0;
}

.emphasize-face-9 { /* lime */
	color: #000000;
	background: #CDDC39;
}

emphasize-gloss {
	all: initial;
	color: red !important;
	background-color: #cccccc;
	border: 1px solid black;
	padding: 10px;
	display: none;
	position: absolute;
}