.emphasize-face-1 { /* red */
	color: #FFFFFF;
	background: #F44336;
}

.emphasize-face-2 { /* teal */
	color: #FFFFFF;
	background: #009688;
}

.emphasize-face-3 { /* indigo */
	color: #FFFFFF;
	background: #3F51B5;
}

.emphasize-face-4 { /* pink */
	color: #FFFFFF;
	background: #E91E63;
}

.emphasize-face-5 { /* green */
	color: #FFFFFF;
	background: #4CAF50;
}

.emphasize-face-6 { /* orange */
	color: #000000;
	background: #FF9800;
}

.emphasize-face-7 { /* blue */
	color: #FFFFFF;
	background: #2196F3;
}

.emphasize-face-8 { /* purple */
	color: #FFFFFF;
	background: #9C27B0;
}

.emphasize-face-9 { /* lime */
	color: #000000;
	background: #CDDC39;
}

emphasize-wrapper {
	position: relative;
}

emphasize-wrapper emphasize-gloss {
	all: initial;
	/* look */
	background: black;
	color: white;
	padding: 5px;
	border-radius: 3px;
	/* position */
	position: absolute;
	left: 0px;
	top: 20px;
	z-index: 100 !important;
	overflow: visible !important;
	/* show and hide */
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, visibility 0.5s;
}

emphasize-wrapper:hover emphasize-gloss {
	visibility: visible;
	opacity: 1;
}