<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../vendor/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="popup.css">
    <link rel="stylesheet" href="../common/faces.css">

	<script type="text/javascript" src="../vendor/vue.min.js"></script>
	<script type="text/javascript" src="popup.js"></script>

    <style type="text/css" media="screen">
		.w3-bottombar-light-grey{border-bottom:4px solid #eee!important}
    	.w3-bottombar-grey{border-bottom:4px solid #2196F3!important}
    	a {color:#2196f3}
    </style>

</head>
<body>

<!--

View hierarchy:
_______________

Menu
   |_ List
   |_ Repository
   |_ Register
		|_ Input
		|_ Progress
	    |_ Success
		|_ Error
	|_ Marker-1
		|_ Ready
		|_ Progress
		|_ Result
		|_ Error
		|_ More
	|_ Marker-2 ...
	|_ Footer

-->

<div id="menu">


	<!-- list -->

	<template v-if="menu.views.get('list')">

		<!-- navigation -->

		<div class="w3-bar w3-border-bottom w3-light-grey" >
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-grey">
				Markers</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.views.switch('register')">
				Add</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.views.switch('repository')">
				Repository</a>
			<a href="#"
				class="w3-button w3-hover-none w3-right"
				v-on:click="menu.resetAllMarkers()">
				<i class="fa fa-trash-o"></i></a>
		</div>

		<!-- marker list -->

		<ul class="w3-ul">
  			<li v-for="markerUi in markerUis"
				class="w3-hover-light-grey w3-padding-16"
				v-on:click="menu.views.switch(markerUi.marker.id)">

				<span style="font-family: Roboto-Medium"
					class="w3-small">{{markerUi.marker.title}}
				</span><br>

				<span class="w3-small">
					{{markerUi.marker.subtitle}}
				</span>

				<span v-if="markerUi.active"
					class="w3-tag w3-small w3-right w3-round"
					v-bind:class="markerUi.marker.styleClass"
					style="font-family:Roboto-Regular">active</span>
			</li>
		</ul>
	</template>

	<!-- registration -->

	<template v-if="menu.views.get('register')">

		<!-- navigation -->

		<div class="w3-bar w3-border-bottom w3-light-grey" >
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.views.switch('list')">
				Markers</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-grey">
				Add</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.views.switch('repository')">
				Repository</a>
		</div>

		<!-- input -->

		<div v-if="registerUi.views.get('input')"
			class="w3-container w3-padding-16 w3-margin w3-small">

			<!-- info text -->

			<div class="w3-border-top w3-border-bottom">
				<p>Add a new marker by entering the marker's address.
					This must be a valid HTTP URL.</p>
			</div>
			<br>

			<!-- url input -->

            <p>
                <label>URL</label>
                <input v-model="registerUi.inputUrl"
                v-on:keyup.enter="registerUi.registerMarker()"
                class="w3-input w3-border"
                type="text">
            </p>

			<!-- add button -->

            <button v-on:click="registerUi.registerMarker()"
                class="w3-btn w3-blue">
                Add</button>

		</div>

		<!-- progress -->

		<div v-if="registerUi.views.get('progress')"
			class="w3-container w3-small w3-padding-16 w3-margin">

			<!-- info -->

			<span>Requesting {{registerUi.inputUrl}} ...</span>

			<!-- spinner -->

			<p class="w3-center w3-padding-16">
				<i class="fa fa-circle-o-notch fa-spin"
					style="font-size:24px"></i>
			</p>

			<!-- abort button -->

			<a v-on:click="registerUi.abortRequest()"
				class="w3-right" href='#'>Abort</a>

		</div>

		<!-- success view -->

        <div v-if="registerUi.views.get('success')"
			class="w3-container w3-small w3-padding-16 w3-margin">

            <!-- info text -->

			<div class="w3-border-top w3-border-bottom">
				<p>{{registerUi.successMessage}}</p>
			</div>
			<br><br>

            <!-- back button -->

            <button v-on:click="registerUi.views.switch('input')"
                class="w3-btn w3-blue">
                Back</button>
        </div>

		<!-- error -->

		<div v-if="registerUi.views.get('error')"
			class="w3-container w3-small w3-padding-16 w3-margin">

			<!-- message -->

			<div class="w3-border-top w3-border-bottom">
				<p class="w3-text-red">{{registerUi.errorMessage}}</p>
			</div>
			<br><br>

			<!-- back button -->

			<button v-on:click="registerUi.views.switch('input')"
				class="w3-btn w3-blue">
				Back
			</button>

		</div>

	</template>

	<!-- repository -->

	<template v-if="menu.views.get('repository')">
		<!-- navigation -->
		<div class="w3-bar w3-border-bottom w3-light-grey" >
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.views.switch('list')">
				Markers</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.views.switch('register')">
				Add</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-grey">
				Repository</a>
		</div>
		<div class="w3-container w3-padding-16 w3-margin">
			Emphasize is extensible. Have a look at the 'Repository' section on
			the web site for further markers.
		</div>
	</template>

	<!-- markers -->

	<template v-for="markerUi of markerUis"
		v-if="menu.views.get(markerUi.marker.id)">

		<!-- header -->

		<div class="w3-bar w3-border-bottom w3-light-grey">
			<a href="#" class="w3-button w3-hover-none w3-large"
				v-on:click="menu.views.switch('list')">
				<i class="fa fa-chevron-left"></i></a>
			<span style="font-family:Roboto-Regular">
					{{markerUi.marker.title}}</span>
			<span v-on:click="markerUi.views.switch('more')"
				class="w3-right w3-button w3-hover-none">
				<i class="fa fa-wrench"></i></span>
		</div>

		<!-- ready -->

		<div v-if="markerUi.views.get('ready')"
			class="w3-container w3-padding-16 w3-margin-top w3-margin-right w3-margin-left w3-small">

			<!-- description -->

			<div class="w3-border-bottom w3-border-top">
				<p v-html="markerUi.marker.description"></p>
			</div>
			<br>

			<!-- inputs -->

			<p v-for="input in markerUi.marker.inputs" class="w3-tooltip">

				<!-- text input -->

				<label>{{ input.label || input.id }}</label>

				<input v-if="input.type=='text'"
					v-on:keyup.enter="markerUi.applyMarker()"
					class="w3-input w3-border"
					type="text"
					v-model="markerUi.userInputs[input.id]">

				<!-- select input -->

				<select v-if="input.type=='select'"
					class="w3-input w3-border"
					v-model="markerUi.userInputs[input.id]">
					<option v-for="val of input.values">
						{{ val }}
					</option>
				</select>
			<p>

			<!-- apply button -->

			<button v-on:click="markerUi.applyMarker()"
				v-bind:class="markerUi.marker.styleClass"
				class="w3-btn">
				Apply</button>

		</div>

		<!-- progress -->

		<div v-if="markerUi.views.get('progress')"
			class="w3-container w3-margin w3-small">

			<!-- info -->

			<span>Requesting {{markerUi.marker.url}} ...</span>

			<!-- spinner -->

			<p class="w3-center w3-padding-16">
				<i class="fa fa-circle-o-notch fa-spin"
					style="font-size:24px"></i>
			</p>

			<!-- abort button -->

			<a v-on:click="markerUi.abortRequest()"
				class="w3-right" href='#'>Abort</a>

		</div>

		<!-- result -->

		<div v-if="markerUi.views.get('result')"
			class="w3-container w3-padding-16 w3-margin w3-small">

			<!-- message -->

			<div class="w3-border-bottom w3-border-top">
				<p v-if="markerUi.resultMessage"
					v-html="markerUi.resultMessage"></p>
				<p v-else>
					Marker applied without a result message.
			</div>
			<br><br>

			<!-- clear button -->

			<button v-on:click="markerUi.resetMarker()"
				v-bind:class="markerUi.marker.styleClass"
				class="w3-btn">
				Clear
			</button>

		</div>

		<!-- error -->

		<div v-if="markerUi.views.get('error')"
			class="w3-container w3-padding-16 w3-margin w3-small">

			<!-- message -->

			<div class="w3-border-bottom w3-border-top">
				<p class="w3-text-red">{{markerUi.errorMessage}}</p>
			</div>
			<br><br>

			<!-- back button -->

			<button v-on:click="markerUi.views.switch('ready')"
				class="w3-btn w3-blue">
				Back
			</button>

		</div>

		<!-- more -->

		<div v-if="markerUi.views.get('more')"
			class="w3-container w3-padding-16 w3-margin w3-small">

			<!-- info -->

			<!--iv class="w3-panel w3-border w3-white w3-leftbar w3-border-grey"-->
			<div class="w3-border-bottom w3-border-top">
				<p>
					<span>URL:</span><br>
					<span>{{markerUi.marker.url}}</span>
				</p>
			</div>
			<br><br>

			<!-- back button -->

			<button v-on:click="markerUi.views.switch(markerUi.active ? 'result': 'ready')"
				class="w3-btn w3-blue">Back</button>

			<!-- remove marker from system -->

			<a v-on:click="markerUi.removeMarkerFromSystem()"
				class="w3-right w3-text-blue" href='#'>Remove Marker</a>

		</div>

	</template>

	<!-- Footer -->

	<div class="w3-bar w3-border-top w3-light-grey">
  		<a 	href="#" 
  			class="w3-button w3-hover-none w3-padding-right-0" 
  			style="font-family: Roboto-Bold">
  			Emphasize</a>
		<span class="w3-small">
			Version {{footerUi.version}}</span>
		<a 	href="#" 
			class="w3-button w3-hover-none w3-right w3-large"
			v-on:click="menu.openWebPage('https://github.com/charbugs/emphasize')">
			<i class="fa fa-github"></i></a>
		<a 	href="#" 
			class="w3-button w3-hover-none w3-right w3-large"
			v-on:click="menu.openWebPage('https://github.com/charbugs/emphasize')">
			<i class="fa fa-home"></i></a>
	</div>

</div>

</body>
</html>
