<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../vendor/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="popup.css">
    <link rel="stylesheet" href="../common/faces.css">

	<script type="text/javascript" src="../vendor/vue.min.js"></script>
	<script type="text/javascript" src="popup.js"></script>

    <style type="text/css" media="screen">
		.w3-bottombar-light-grey{border-bottom:4px solid #eee!important}
    	.w3-bottombar-grey{border-bottom:4px solid #2196F3!important}
    	a {color:#2196f3}
    </style>

</head>
<body>

<div id="menu">


	<!-- ANALYZER LIST -->

	<template v-if="menu.view == 'ANALYZER_LIST'">

		<!-- navigation header -->

		<div class="w3-bar w3-border-bottom w3-light-grey" >
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-grey">
				Analyzers</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.showRegistration()">
				Register</a>
		</div>

		<!-- analyzers -->

		<div v-for="analyzer in menu.analyzers"  
			class="w3-cell-row w3-border-bottom w3-hover-light-grey w3-padding-16"
			v-on:click="menu.showAnalyzer(analyzer)">
			
			<div class="w3-container w3-cell" 
				style="width:80%; word-break:break-all;">
				<span style="font-family: Roboto-Medium"
					class="w3-small">
					{{analyzer.setup.title}}
				</span>
   			</div>
		</div>

	</template>

	<!-- ANALYZER READY -->

	<template v-if="menu.view == 'ANALYZER_CURRENT' && 
		menu.curAnalyzer.state == Analyzer.READY">

		<!-- header -->

		<div class="w3-bar w3-border-bottom w3-light-grey">
			<a href="#" class="w3-button w3-hover-none w3-large"
				v-on:click="menu.showAnalyzerList()">
				<i class="fa fa-chevron-left"></i></a>
			<span style="font-family:Roboto-Regular">
					{{menu.curAnalyzer.setup.title}}</span>
			<span v-on:click="menu.showAnalyzerMore()"
				class="w3-right w3-button w3-hover-none">
				<i class="fa fa-wrench"></i></span>
		</div>

		<!-- content -->

		<div class="w3-container w3-padding-16 w3-margin-top w3-margin-right w3-margin-left w3-small">

			<!-- description -->

			<div class="w3-border-bottom w3-border-top"
				style="width:100%; word-break:break-all;">
				<p v-html="menu.curAnalyzer.setup.description"></p>
			</div>
			<br>

			<!-- inputs -->

			<p v-for="input in menu.curAnalyzer.setup.inputs" class="w3-tooltip">

				<!-- text input -->

				<label>{{ input.label || input.id }}</label>

				<input v-if="input.type=='text'"
					v-on:keyup.enter="menu.applyAnalyzer()"
					class="w3-input w3-border"
					type="text"
					v-model="menu.curAnalyzer.input.userInputs[input.id]">

				<!-- select input -->

				<select v-if="input.type=='select'"
					class="w3-input w3-border w3-white"
					v-model="menu.curAnalyzer.input.userInputs[input.id]">
					<option v-for="val of input.values">
						{{ val }}
					</option>
				</select>
			<p>

			<!-- apply button -->

			<button v-on:click="menu.applyAnalyzer()"
				v-bind:class="menu.curAnalyzer.setup.styleClass"
				class="w3-btn">
				Apply</button>

		</div>

	</template>

	<!-- ANALYZER WORKING -->

	<template v-if="menu.view == 'ANALYZER_CURRENT' && 
		menu.curAnalyzer.state == Analyzer.WORKING">
		
		<!-- header -->

		<div class="w3-bar w3-border-bottom w3-light-grey">
			<a href="#" class="w3-button w3-hover-none w3-large"
				v-on:click="menu.showAnalyzerList()">
				<i class="fa fa-chevron-left"></i></a>
			<span style="font-family:Roboto-Regular">
					{{menu.curAnalyzer.setup.title}}</span>
			<span v-on:click="menu.showAnalyzerMore()"
				class="w3-right w3-button w3-hover-none">
				<i class="fa fa-wrench"></i></span>
		</div>

		<!-- content -->

		<div class="w3-container w3-margin w3-small">

			<!-- info -->

			<span>Requesting {{menu.curAnalyzer.setup.url}} ...</span>

			<!-- spinner -->

			<p class="w3-center w3-padding-16">
				<i class="fa fa-circle-o-notch fa-spin"
					style="font-size:24px"></i>
			</p>

			<!-- abort button -->

			<a v-on:click="menu.abortAnalysis()"
				class="w3-right" href='#'>Abort</a>

		</div>

	</template>

	<!-- ANALYZER DONE -->
		
	<template v-if="menu.view == 'ANALYZER_CURRENT' && 
		menu.curAnalyzer.state == Analyzer.DONE">
		
		<!-- header -->

		<div class="w3-bar w3-border-bottom w3-light-grey">
			<a href="#" class="w3-button w3-hover-none w3-large"
				v-on:click="menu.showAnalyzerList()">
				<i class="fa fa-chevron-left"></i></a>
			<span style="font-family:Roboto-Regular">
					{{menu.curAnalyzer.setup.title}}</span>
			<span v-on:click="menu.showAnalyzerMore()"
				class="w3-right w3-button w3-hover-none">
				<i class="fa fa-wrench"></i></span>
		</div>

		<!-- content -->

		<div class="w3-container w3-padding-16 w3-margin w3-small">

			<!-- message -->

			<div class="w3-border-bottom w3-border-top">
				<p v-if="menu.curAnalyzer.output.report"
					v-html="menu.curAnalyzer.output.report"></p>
				<p v-else>
					Analyzer applied, but without a result message.
			</div>
			<br><br>

			<!-- clear button -->

			<button v-on:click="menu.removeAnnotation()"
				v-bind:class="menu.curAnalyzer.setup.styleClass"
				class="w3-btn">
				Clear
			</button>

		</div>

	</template>

	<!-- ANALYZER ERROR -->

	<template v-if="menu.view == 'ANALYZER_CURRENT' && 
		menu.curAnalyzer.state == Analyzer.ERROR">
		
		<!-- header -->

		<div class="w3-bar w3-border-bottom w3-light-grey">
			<a href="#" class="w3-button w3-hover-none w3-large"
				v-on:click="menu.showAnalyzerList()">
				<i class="fa fa-chevron-left"></i></a>
			<span style="font-family:Roboto-Regular">
					{{menu.curAnalyzer.setup.title}}</span>
			<span v-on:click="menu.showAnalyzerMore()"
				class="w3-right w3-button w3-hover-none">
				<i class="fa fa-wrench"></i></span>
		</div>

		<!-- content -->

		<div class="w3-container w3-padding-16 w3-margin w3-small">

			<!-- message -->

			<div class="w3-border-bottom w3-border-top">
				<p class="w3-text-red">{{menu.curAnalyzer.error.message}}</p>
			</div>
			<br><br>

			<!-- back button -->

			<button v-on:click="menu.resetAnalyzer()"
				class="w3-btn w3-blue">
				Back
			</button>

		</div>		

	</template>

	<!-- ANALYZER MORE -->

	<template v-if="menu.view == 'ANALYZER_MORE'">
		
		<!-- header -->

		<div class="w3-bar w3-border-bottom w3-light-grey">
			<a href="#" class="w3-button w3-hover-none w3-large"
				v-on:click="menu.showAnalyzerList()">
				<i class="fa fa-chevron-left"></i></a>
			<span style="font-family:Roboto-Regular">
					{{menu.curAnalyzer.setup.title}}</span>
		</div>

		<!-- content -->

		<div class="w3-container w3-padding-16 w3-margin w3-small">

			<!-- info -->

			<!--div class="w3-panel w3-border w3-white w3-leftbar w3-border-grey"-->
			<div class="w3-border-bottom w3-border-top">
				<p>
					<span>URL:</span><br>
					<span>{{menu.curAnalyzer.setup.url}}</span>
				</p>
			</div>
			<br><br>

			<!-- back button -->

			<button v-on:click="menu.showAnalyzer(menu.curAnalyzer)"
				class="w3-btn w3-blue">Back</button>

			<!-- remove analyzer from system -->

			<a v-on:click="menu.removeAnalyzerFromSystem()"
				class="w3-right w3-text-blue" href='#'>Remove analyzer</a>

		</div>

	</template>

	<!-- REGISTRATION READY -->

	<template v-if="menu.view == 'REGISTRATION' &&
		menu.registration.state == Registration.READY">

		<!-- navigation header -->

		<div class="w3-bar w3-border-bottom w3-light-grey" >
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.showAnalyzerList()">
				Analyzers</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-grey">
				Register</a>
		</div>

		<!-- content -->

		<div class="w3-container w3-padding-16 w3-margin w3-small">

			<!-- info text -->

			<div class="w3-border-top w3-border-bottom">
				<p>Add a new analyzer by entering the analyzer's URL.
					This must be a valid HTTP URL.</p>
			</div>
			<br>

			<!-- url input -->

            <p>
                <label>URL</label>
                <input v-model="menu.registration.inputUrl"
                v-on:keyup.enter="menu.registerAnalyzer()"
                class="w3-input w3-border"
                type="text">
            </p>

			<!-- add button -->

            <button v-on:click="menu.registerAnalyzer()"
                class="w3-btn w3-blue">
                Add</button>

		</div>

	</template>

	<!-- REGISTRATION WORKING -->

	<template v-if="menu.view == 'REGISTRATION' &&
		menu.registration.state == Registration.WORKING">

		<!-- navigation header -->

		<div class="w3-bar w3-border-bottom w3-light-grey" >
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.showAnalyzerList()">
				Analyzers</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-grey">
				Register</a>
		</div>

		<!-- content -->

		<div class="w3-container w3-small w3-padding-16 w3-margin">

			<!-- info -->

			<span>Requesting {{menu.registration.inputUrl}} ...</span>

			<!-- spinner -->

			<p class="w3-center w3-padding-16">
				<i class="fa fa-circle-o-notch fa-spin"
					style="font-size:24px"></i>
			</p>

			<!-- abort button -->

			<a v-on:click="menu.abortRegistration()"
				class="w3-right" href='#'>Abort</a>

		</div>

	</template>

	<!-- REGISTRATION DONE -->

	<template v-if="menu.view == 'REGISTRATION' &&
		menu.registration.state == Registration.DONE">

		<!-- navigation header -->

		<div class="w3-bar w3-border-bottom w3-light-grey" >
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.showAnalyzerList()">
				Analyzers</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-grey">
				Register</a>
		</div>

		<!-- content -->

		<div class="w3-container w3-small w3-padding-16 w3-margin">

            <!-- info text -->

			<div class="w3-border-top w3-border-bottom">
				<p>{{menu.registration.report}}</p>
			</div>
			<br><br>

            <!-- back button -->

            <button v-on:click="menu.resetRegistration()"
                class="w3-btn w3-blue">
                Back</button>
        </div>

	</template>

	<!-- REGISTRATION ERROR -->

	<template v-if="menu.view == 'REGISTRATION' &&
		menu.registration.state == Registration.ERROR">

		<!-- navigation header -->

		<div class="w3-bar w3-border-bottom w3-light-grey" >
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-light-grey w3-hover-border-grey"
				v-on:click="menu.showAnalyzerList()">
				Analyzers</a>
	  		<a href="#"
				class="w3-bar-item w3-button w3-hover-none w3-bottombar-grey">
				Register</a>
		</div>

		<!-- content -->

		<div class="w3-container w3-small w3-padding-16 w3-margin">

			<!-- message -->

			<div class="w3-border-top w3-border-bottom">
				<p class="w3-text-red">{{menu.registration.error.message}}</p>
			</div>
			<br><br>

			<!-- back button -->

			<button v-on:click="menu.resetRegistration()"
				class="w3-btn w3-blue">
				Back
			</button>

		</div>

	</template>

	<!-- Footer -->

	<div class="w3-bar w3-light-grey">
  		<a 	href="#" 
  			class="w3-button w3-hover-none w3-padding-right-0" 
  			style="font-family: Roboto-Bold">
  			Emphasize</a>
		<span class="w3-small">
			Version {{version}}</span>
		<a 	href="#" 
			class="w3-button w3-hover-none w3-right w3-large"
			v-on:click="menu.openWebPage('https://github.com/charbugs/emphasize')">
			<i class="fa fa-github"></i></a>
		<a 	href="#" 
			class="w3-button w3-hover-none w3-right w3-large"
			v-on:click="menu.openWebPage('https://github.com/charbugs/emphasize')">
			<i class="fa fa-home"></i></a>
	</div>

</div>

</body>
</html>
