@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/roboto/Roboto-Thin.woff);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/roboto/Roboto-Light.woff);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/roboto/Roboto-Regular.woff);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/roboto/Roboto-Medium.woff);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/roboto/Roboto-Bold.woff);
}

body {
    font-family: Roboto-Light;
    width: 430px;
}
